* {
    box-sizing: border-box;
}
body {
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0;
}
main {
    margin: 1.5em;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    color: rgb(255, 78, 78);
    width:700px;
    margin: 0.4em auto;
}
.columns {
    display: flex;
}
.toogle {
    width: 50%;
}
.list {
    width: 50%;}
.title {
    font-size: 1.75em;
    text-align: center;
    font-weight: 600;
    margin: 0.75em;
}
.radio-container {
    font-size: 1.6em;
    margin: 1em;
}
input[type=radio] {
    width: 6%;
    height: 1.1em;
}
.image {
    position: relative;
}
img {
    position: relative;

    left: 3.2em;
    /* display: block; */
    /* margin: 0 auto; */
    border-radius: 50%;
    height: 35vw;
}
.list {
    /* font-size: 1.7rem; */
    border-radius: 1.85em;
    background-color: rgba(255, 255, 255, 0.116);
}
.insert {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}

input[type=text] { 
    display: inline-block;
    width: 63.8%;
    font-size: 1.7em;
    padding: 0.1em 0.25em;
    box-sizing: border-box;
}
::placeholder {
    font-family: 'Fuzzy Bubbles', cursive;
}
.button-save {
    display: inline;
    width: 34.5%;
    /* font-size: 2em; */
    border-radius: 0.3em;
    padding-bottom: 0.22em;
    font-family: 'Fuzzy Bubbles', cursive;
}
.listContainer {
    /* font-size: 1.5em; */
    width: 75%;
    /* font-size: 2em; */
    margin-left: 2em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    background-color: rgba(255, 255, 255, 0.25);
}
.listItem { 
    text-align:justify;
    position: relative;
    max-height: 60px;
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.6em;
    border-radius: 0.3em;
    background-color: rgba(255, 255, 255, 0.25);
    overflow-y: auto;
}
input[type=checkbox] {
    position: absolute;
    left: -13.325%;
    height: 1.9em;
    width: 1.9em;
}
.delete {
    /* float: right; */
    /* margin-right: ; */
    /* font-size: 1em; */
    position: absolute;
    color: white;
    background-color: tomato;
    border-radius: 0.2em;
    padding: 0 0.35em;
    padding-bottom: 0.23em;
    
    top: 0%;
    right:-15%;
}

.christmas {
    background: linear-gradient(rgb(0, 100, 255), red);
    color: whitesmoke;
}
.tree {
    background: linear-gradient(rgb(0, 100, 255), rgb(94, 197, 68));
    color: whitesmoke;
}
.snow {
    background: linear-gradient(rgb(0, 100, 255), rgb(100, 219, 255));
    color: whitesmoke;
}
/* html {
    scrollbar-width: 1em;
    scrollbar-color: rgb(251, 255, 0) rgb(0, 153, 255);
    border-radius: 0.15em;
}  */
.listItem::-webkit-scrollbar {
    width:2vw;
    

    /* border-radius: 0.15em; */
}
.listItem::-webkit-scrollbar-thumb {
    /* width:2vw; */
    
    border-radius: 1em;
    background-color: rgb(183, 0, 255);
}
.listItem::-webkit-scrollbar-track {
    /* border-radius: 5em; */
    width:2vw;
    background-color: rgb(0, 255, 213);

} 
