* {
    box-sizing: border-box;
}
body {
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0;
}
main {
    margin: 1.5em;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    color: rgb(255, 78, 78);
    width:700px;
    margin: 0.4em auto;
}
.columns {
    display: flex;
}
.toogle {
    width: 50%;
}
.list {
    width: 50%;}
.title {
    font-size: 1.75em;
    text-align: center;
    font-weight: 600;
    margin: 0.75em;
}
.radio-container {
    font-size: 1em;
    margin: 1em;
}
input[type=radio] {
    width: 6%;
    height: 1.1em;
}
.image {
    
}
img {
    position: relative;
    left: 3.2em;
    /* display: block; */
    /* margin: 0 auto; */
    border-radius: 50%;
    height: 35vw;
}
.list {
    /* font-size: 1.7rem; */
    border-radius: 1.85em;
    background-color: rgba(255, 255, 255, 0.175);
}
.insert {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}
input[type=text] { 
    display: inline-block;
    width: 64.5%;
    font-size: 1.7em;
    padding: 0.1em 0.25em;
    box-sizing: border-box;
}
::placeholder {
    font-family: 'Fuzzy Bubbles', cursive;
}
.save {
    display: inline;
    width: 34%;
    font-size: 1.7em;
    border-radius: 0.3em;
    padding-bottom: 0.18em;
    font-family: 'Fuzzy Bubbles', cursive;
}
.listContainer {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.25);
    max-height: 305px;
    overflow-y: auto;
}
/* .listItemBox:nth-of-type(1) {
    display: none;
} */
.listItem { 
    display: flex;
    text-align:justify;
    position: relative;
    max-height: 5em;
    width: 100%;
    padding: 0.3em;
    padding-right: 1.25em;
    margin-bottom: 0.6em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.25);
    overflow-y: auto;
}
/* input[type=checkbox]  */
.checkbox {
    height: 1.9em;
    width: 1.9em; 
}
.label {
    font-size: 1.5em;
    width: 90%;
    padding: 0.35em 0.8em 0;
}
.delete {
    /* float: right; */
    /* margin-right: ; */
    font-size: 1.5em;
    max-height: 1.4em;
    padding: 0 0.3em 0.5em 0.3em;
    margin-top: 0.15em;
    color: white;
    background-color: tomato;
    border-radius: 0.2em;
    /* padding: 0 0.35em;
    padding-bottom: 0.23em; */
}
.paragraph {
    padding-right:1em;
    padding-left:1em;
    /* text-align: center; */
}

.christmas {
    background: linear-gradient(rgb(0, 100, 255), red);
    color: whitesmoke;
}
.tree {
    background: linear-gradient(rgb(0, 100, 255), rgb(94, 197, 68));
    color: whitesmoke;
}
.snow {
    background: linear-gradient(rgb(0, 100, 255), rgb(100, 219, 255));
    color: whitesmoke;
}

.listContainer {
    scrollbar-width: 1.5em;
    scrollbar-color: rgb(251, 255, 0) rgb(0, 153, 255);
    border-radius: 0.15em;
}
.listItem {
    scrollbar-width: 1.5em;
    scrollbar-color: rgb(251, 255, 0) rgb(0, 153, 255);
    border-radius: 0.15em;
}   




.listContainer::-webkit-scrollbar {
    width: 1.5em;
}
.listContainer::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgb(183, 0, 255);
}
.listContainer::-webkit-scrollbar-track {
    border-radius: 1em;
    width: 2vw;
    background-color: rgb(0, 255, 213);
} 

.listItem::-webkit-scrollbar {
    width: 1.5em;
    /* border-radius: 0.15em; */
}
.listItem::-webkit-scrollbar-thumb {
    /* width:2vw; */
    border-radius: 1em;
    background-color: rgb(183, 0, 255);
}
.listItem::-webkit-scrollbar-track {
    border-radius: 1em;
    width: 2vw;
    background-color: rgb(0, 255, 213);
} 

.red {
    background-color: red;
    
}