/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Begin !!!!! @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0;
}
main {
    margin: 0.8em;
}
h1 {
    text-align: center;
    font-size: 2em;
    color: rgb(255, 78, 78);
    margin: 0.6em auto;
}
.title {
    font-size: 1.6em;
    text-align: center;
    font-weight: 600;
    margin: 0.5em;
}
.radio-container {
    font-size: 1.45em;
    margin: 1em;
}
input[type=radio] {
    width: 6%;
    
}
img {
    display: block;
    margin: 2.2em auto;
    /* position: relative; */
    /* left: 2em; */
    border-radius: 50%;
    height: 75vw;
}
.list {
    padding-top: 0.3em; 
    padding-bottom:0.1em; 
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.17);
    min-height: 250px;
}
.insert {
    display: block;
    width: 92.5%;
    margin: 0 auto;
    /* margin-bottom: 1em; */
}
input[type=text] { 
    display: block;
    width: 100%;
    font-size: 1.33em;
    padding: 0.1em 0.25em;
    box-sizing: border-box;
    margin-bottom: 1em;
    font-family: 'Fuzzy Bubbles', cursive;
}
::placeholder {
    font-family: 'Fuzzy Bubbles', cursive;
}
.save {
    /* display: block; */
    width: 100%;
    margin: 0 auto;
    /* margin-bottom: 1em; */
    padding-bottom: 0.18em;
    font-size: 1.2em;
    border-radius: 0.3em;
    border: 0.03em solid rgb(128, 128, 128);
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: rgb(219, 233, 255);
}
.save:active {
    border: 0.03em solid rgb(59, 59, 59);
    background-color: rgb(187, 213, 255);
}
.listContainer {
    width: 92.5%;
    margin: 0.8em auto;
    /* margin-bottom: 1em; */
    /* padding-right: 0.5em; */
    /* padding: 10em 0; */
    border-radius: 0.7em;
    background-color: rgba(255, 255, 255, 0.2);
    /* max-height: 340px; */
    /* overflow-y: auto; */
}
.listItemBox {
    /* margin:0.7em 0; */
    border-radius: 0.7em;
}
.listItem { 
    margin:0 auto;
    display: flex;
    /* text-align:justify; */
    /* max-height: 5em; */
    /* width: 90%; */
    /* padding: 0.2em; */
    /* padding-right: 0.5em; */
    border-radius: 0.7em;
    background-color: rgba(255, 255, 255, 0.2);
    /* overflow-y: auto; */
}
.checkbox {
    margin-left: 0.7em;
    margin-top: 0.3em;
    height: 2.3em;
    width: 2.3em; 
}
.label {
    font-size: 1.2em;
    width: 99%;
    padding: 0 0.3em;
    padding-top: 0.5em;
    text-align: justify;
    /* margin:0.2em; */
    line-height: 1.5em;
    /* padding: 0.35em 0.8em 0; */
}
.delete {
    font-size: 1.2em;
    height: 1.6em;
    width: 1.7em;
    margin-top: 0.2em;
    margin-right: 0.35em;
    padding-bottom: 0.45em;
    color: white;
    background-color: tomato;
    border-radius: 0.3em;
   
}
.paragraph {
    font-size: 0.8em;
    padding: 0.75em;
    /* background: rgb(17, 0, 255); */
}

.christmas {
    background: linear-gradient(rgb(0, 100, 255), red);
    color: whitesmoke;
}
.tree {
    background: linear-gradient(rgb(0, 100, 255), rgb(94, 197, 68));
    color: whitesmoke;
}
.snow {
    background: linear-gradient(rgb(0, 100, 255), rgb(20, 200, 255));
    color: whitesmoke;
}

/* .listContainer {
    scrollbar-width: 1.5em;
    scrollbar-color: rgb(46, 78, 255) rgb(130, 184, 255);
    
}
.listItem {
    scrollbar-width: 1.5em;
    scrollbar-color: rgb(46, 78, 255) rgb(130, 184, 255);
    
}   

.listContainer::-webkit-scrollbar {
    width: 1em;
}
.listContainer::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: linear-gradient(rgb(109, 172, 255), rgb(60, 0, 255));
}
.listContainer::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgb(130, 184, 255);
} 

.listItem::-webkit-scrollbar {
    width: 1em;
}
.listItem::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgb(71, 100, 255);
}
.listItem::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgb(130, 184, 255);
}  */

/* * {
    font-size: 0.33em;
}
 */
@media (min-width: 480px) {
    * {
        font-size: 1.3em;  
    }
    /* main {
        margin: 0.8em;
    } */
    input[type=radio] {
        width: 6%;
        height: 0.6em;
    }
    .list {
        padding: 0.9 0em;
        /* min-height: 90vw; */
    }
    /* .insert {
        width: 92.5%;
    }
    .listContainer {
        width: 92.5%;
    } */
    .checkbox {
        margin-left: 0.35em;
        margin-top: 0.17em;
        height: 1.4em;
        width: 1.4em; 
    }
    .label {
        padding-top: 0.3em;
    }
    .delete {
        height: 1.4em;
        width: 1.5em;
        margin-right: 0.23em;
        padding-bottom: 1.3em;
    }
    img {
        margin: 1.2em auto;
        height: 50vw;
    }
}
@media (min-width: 768px) {
    * {
        font-size: 1em;  
    } 
    main {
        margin: 1em;
        min-height: 100vh;
    }
    h1 {
        font-size: 4em;
    }
    .columns {
        display: flex; 
        
    }
    .toogle {
        width: 50%;
    }
    .list {
        /* height: 85vh; */
        width: 50%;
    }
    .title {
        /* font-weight: ; */
        font-size: 3em;
    }
    .radio-container {
        font-size: 2.15em;
        padding:0.45em 0;
    }
    input[type=radio] {
        width: 6%; 
        height: 0.8em;
    }
    .image {
    }
    img {
        height: 40vw;
    } 
    input[type=text] { 
        font-size: 2.5em;
        margin-bottom: 0.7em;
    }
    ::placeholder {
        font-family: 'Fuzzy Bubbles', cursive;
    }
    .save {
        margin-bottom: 0.7em;
        font-size: 2.5em;
        font-family: 'Fuzzy Bubbles', cursive;
    }
    .listContainer {
        /* width: 92.5%; */
        margin-bottom: 1em;
        padding-right: 0.5em;
        border-radius: 0.5em;
        /* background-color: rgba(255, 255, 255, 0.2); */
        max-height: 400px;
        overflow-y: auto;
    }
    .listItem { 
        display: flex;
        text-align:justify;
        /* max-height: 5em; */
        /* width: 100%; */
        padding: 0.2em;
        padding-right: 0.5em;
        border-radius: 0.5em;
        /* background-color: rgba(255, 255, 255, 0.2); */
        overflow-y: auto;
    }
    .checkbox {
        margin-top: 0.3em;
        height: 3.5em;
        width: 3.5em; 
    }
    .label {
        font-size: 2em;
        width: 90%;
        padding: 0.3em 0.45em 0 0.45em;
        line-height: 1.5em;
        /* padding: 0.35em 0.8em 0; */
    }
    .delete {
        font-size: 2em;
       
        padding: 0 0.3em 0.5em 0.3em;
        margin-top: 0.27em;
        color: white;
        background-color: tomato;
        border-radius: 0.3em;
    }
    .paragraph {
        padding: 0.65em;
        font-size: 1.5em;
    }

    .christmas {
        background: linear-gradient(rgb(0, 100, 255), red);
        color: whitesmoke;
    }
    .tree {
        background: linear-gradient(rgb(0, 100, 255), rgb(94, 197, 68));
        color: whitesmoke;
    }
    .snow {
        background: linear-gradient(rgb(0, 100, 255), rgb(20, 200, 255));
        color: whitesmoke;
    }

    .listContainer {
        scrollbar-width: 1.5em;
        scrollbar-color: rgb(46, 78, 255) rgb(130, 184, 255);
        /*firefox*/
    }
    .listItem {
        scrollbar-width: 1.5em;
        scrollbar-color: rgb(46, 78, 255) rgb(130, 184, 255);
        /*firefox*/
    }   

    .listContainer::-webkit-scrollbar {
        width: 1em;
    }
    .listContainer::-webkit-scrollbar-thumb {
        border-radius: 1em;
        background: linear-gradient(rgb(109, 172, 255), rgb(60, 0, 255));
    }
    .listContainer::-webkit-scrollbar-track {
        border-radius: 1em;
        background-color: rgb(130, 184, 255);
    } 

    .listItem::-webkit-scrollbar {
        width: 1em;
    }
    .listItem::-webkit-scrollbar-thumb {
        border-radius: 1em;
        background-color: rgb(71, 100, 255);
    }
    .listItem::-webkit-scrollbar-track {
        border-radius: 1em;
        background-color: rgb(130, 184, 255);
    } 
}
